html{
  width-max:310px;
  display: flex;
  justify-content: space-evenly ;
  align-items: centre;
  background-color: white;
  
}
.navbar {
  padding-left: 30px;
  padding-bottom:10px;
  height: auto;
  width: 300px;
  background-color: #acf8ffcf;
 text-align: centre;
  align-items: centre;
  font-size:   55px;
  font-weight: 200;
  font-family:'Times New Roman', Times, serif;
  border: black 3px solid;
  border-radius: 20px;
  box-shadow: 5px 5px 10px  black;;
}
.name{
  height: 100px;
  font-size: 40px;
  font-weight:700;
  color: #321e0b;
}
img{
  height: 150px;
  width: 150px;
  
  border-radius: 10px;
  box-shadow: 5px 5px 10px  black;
}
a{
  display:block;
  background-color: white;
  text-align:center;
  height: 30px;
  width: 170px;
  
  text-decoration: none;
}
a:hover{
  border: black 1px transparent;
  border-radius:50px;
  box-shadow: 3px 2px 10px black;
}
