html{
  width-max:310px;
  display: flex;
  justify-content: space-evenly ;
  align-items: centre;
  background-color: white;
  
}
.navbar {
  padding-left: 10px;
  height: 50px;
  width: 300px;
  background-color: #acf8ffcf;
 text-align: centre;
  align-items: centre;
  font-size:   50px;
  font-weight: 200;
  font-family:'Times New Roman', Times, serif;
  border: black 3px solid;
  border-radius: 20px;
  box-shadow: 5px 5px 10px  black;;
}
.name{
  height: 100px;
  font-size: 40px;
  color: #321e0b;
}
img{
  height: 100px;
  width: 100px;
  
  border-radius: 10px;
  box-shadow: 5px 5px 10px  black;
}
a{
  background-color: white;
  
  height: 100px;
  width: 50px;
  
  text-decoration: none;
}
a:hover{
  border: black 1px solid;
}
